PORT=4000

AZURE_STORAGE_CONNECTION_STRING=UseDevelopmentStorage=true
AZURE_STORAGE_CONTAINER=clinical-documents

DATABASE_URL=postgresql://user:password@your-server.postgres.database.azure.com:5432/your-database?sslmode=require

AZURE_DOC_INTEL_ENDPOINT=https://your-resource.cognitiveservices.azure.com/
AZURE_DOC_INTEL_KEY=your-key-here
